.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2dd4bf;
    font-size: 24px;
    height: 300px;
    .container {
        padding: 0 10px;
        margin: 0 auto;
        max-width: 1240px;
        text-align: center;

    .logo {
        display: block;
        z-index: inherit;
        position: relative;
        text-align: center;
        img {
            width: 35%;
            padding: 0px;
            margin: 0px;
            // text-align: center;

        }
    }

    .nav {
        text-align: center;
        .list {
            list-style: none;
            display: flex;
            text-align: center;



            .link {
                &:first-of-type {
                    margin: 20px;
                    color: white;
                    text-decoration: none;
                    display: flex;


                }
            }
        }
    }
}
}