.cards {
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(39, 38, 38, 0.5);
    width: 300px;
    height: 650px;
    justify-content: center;
    margin: 12px;
    text-align: center;
    position : relative;


}

.photos {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;


}

button {
    background-color: palevioletred;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 0 10 rgba(235, 231, 231, 0.5);
}
