// .cardvoyage{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr );
//     grid-template-rows: repeat(auto, 1fr );
//     margin: 5px 5px 20px 5px;
//     gap: 5%;
//     z-index: 100;


// }


    


