.main{
    background-color: #0f766e;
   
   
    
    .container{
        padding: 0 40px;
        margin: 0 auto;
        max-width: 1240px;
        display: flex;
        justify-content:space-between;
        color: white;
        
        .column{
            width: calc(33% - 30px);

            .title{
                font-size: 20 px;

                .list {
                    list-style: none;
                    
                    padding: 0px;
                    margin: 0px;
                    
                    .link {
                        &:first-of-type{
                             text-decoration: none;
                             
                            }
                       
                    }
                }
            }
        }

    }
}
footer{
        margin-top: 170px;
        position: relative;
        z-index: 2;
      
}